html,
body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 1536px;
	min-height: 720px;
}

body {
	overflow-x: auto;
	background: url(../image/blue.png) no-repeat;
	/*background-size: 100%;*/
	background-size: cover;
}

.main {
	position: relative;
	margin: 0 auto;
	height: 100%;
}

.main_top {
	position: relative;
	margin: 0 1px;
	top: 2px;
	height: 60px;
	border: 2px solid;
	border-radius: 5px;
	background-color: steelblue;
	/*background-color: dimgrey;*/
	/*	background-color: lightslategrey*/
	/*	background-color: cadetblue*/
}

.main_top .userInfo {
	position: relative;
	height: 100%;
}

.main_top .userInfo a {
	position: relative;
	top: 16px;
	left: 10px;
	height: 100%;
	font-size: 16px;
	text-decoration: none;
	color: white;
}

.main_top .logoBox {
	position: relative;
	height: 100%;
	display: flex;
}

.main_top .logoBox p {
	margin-top: 16px;
	margin-left: 50px;
	font-size: 16px;
	color: white;
}

.main_top .logoBox a {
	margin: auto;
	top: -1px;
}

.main_top .logoBox img {
	margin: auto;
	width: 50px;
	height: 50px;
	border: 1px solid darkgray;
}

.main_medium {
	position: relative;
	margin: 0 auto;
	top: 50px;
	height: 450px;
}

.main_medium #filmName {
	position: relative;
	text-align: center;
	font-size: 32px;
}

.main_medium .filmInfoBox {
	position: relative;
	margin: 0 auto;
	padding-top: 30px;
	width: 70%;
	height: 390px;
	display: flex;
}

.main_medium .filmInfoBox .img_gradeBox {
	position: relative;
	width: 25%;
	height: 360px;
}

.main_medium .filmInfoBox .img_gradeBox img {
	position: relative;
	margin: 0 auto;
	width: 220px;
	height: 300px;
}

.main_medium .filmInfoBox .img_gradeBox #grade {
	position: relative;
	width: 220px;
	top: 15px;
	font-size: 16px;
	text-align: center;
}

.main_medium .filmInfoBox .otherInfo_storyBox {
	position: relative;
	left: 20px;
	width: 75%;
	height: 360px;
}

.main_medium .filmInfoBox .otherInfo_storyBox .otherInfoBox {
	position: relative;
	width: 100%;
	height: auto;
	font-size: 0;
	display: flex;
}

.main_medium .filmInfoBox .otherInfo_storyBox .otherInfoBox .otherInfoBox1,
.main_medium .filmInfoBox .otherInfo_storyBox .otherInfoBox .otherInfoBox2 {
	position: relative;
	width: 45%;
	height: 100%;
	left: 10px;
}

.main_medium .filmInfoBox .otherInfo_storyBox .otherInfoBox .otherInfoBox2 {
	left: 30px;
}

.main_medium .filmInfoBox .otherInfo_storyBox .otherInfoBox .vr {
	width: 1px;
	border: 1px;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.main_medium .filmInfoBox .otherInfo_storyBox .otherInfoBox .infoBox {
	position: relative;
	padding: 5px 0;
	height: auto;
	display: flex;
	font-size: 18px;
	color: black;
}

.main_medium .filmInfoBox .otherInfo_storyBox .otherInfoBox .infoBox .attr {
	position: relative;
	width: 65%;
	height: auto;
	font-size: 16px;
	color: #000000;
}

.main_medium .filmInfoBox .otherInfo_storyBox #hr1 {
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: #999;
}

.main_medium .filmInfoBox .otherInfo_storyBox .storyBox {
	position: relative;
	margin: 0 10px;
	width: auto;
	height: auto;
}

.main_medium .filmInfoBox .otherInfo_storyBox .storyBox div {
	font-size: 18px;
	color: black;
}

.main_medium .filmInfoBox .otherInfo_storyBox .storyBox #story {
	text-indent: 2em;
	font-size: 16px;
	word-break: break-all;
	white-space: normal
}

.main_bottom {
	position: absolute;
	display: flex;
	top: 600px;
}

.main_bottom .evaluate {
	position: relative;
	width: 25%;
	left: 220px;
	text-align: center;
}

.main_bottom .evaluate #collectWrapper label,
.main_bottom .evaluate #ratingWrapper label {
	cursor: pointer;
  	font-size: 40px;
	display: block;
	width: 50px;
	height: 50px;
	line-height: 60px;
	text-align: center;
	float: left;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	text-shadow: 0 3px 3px #2b3c4e;
}

.main_bottom .evaluate #collectWrapper label:before,
.main_bottom .evaluate #ratingWrapper label:before {
	display: inline;
  	width: auto;
  	height: auto;
  	line-height: normal;
  	vertical-align: baseline;
  	margin-top: 0;
  	font-family: FontAwesome;
  	font-weight: normal;
  	font-style: normal;
  	text-decoration: inherit;
  	-webkit-font-smoothing: antialiased;
}

.main_bottom .evaluate #collectWrapper {
	display: flex;
}

.main_bottom .evaluate #collectWrapper > div {
	font-size: 24px;
	margin-left: 90px;
	margin-top: 13px;
}

.main_bottom .evaluate #collectWrapper input {
  	display: none;
}

.main_bottom .evaluate #collectWrapper label {
  	color: red;
}

.main_bottom .evaluate #collectWrapper label:hover {
  	font-size: 50px;
  	color: #E85454;
  	text-shadow: 0 0 5px #b9c9d8;
}

.main_bottom .evaluate #collectWrapper .checked:before {
	content: "\f004";
}

.main_bottom .evaluate #collectWrapper .unchecked:before {
	content: "\f08a";
}

.main_bottom .evaluate #ratingWrapper {
  	display: inline-block;
}

.main_bottom .evaluate #ratingWrapper input {
  	display: none;
}

.main_bottom .evaluate #ratingWrapper label {
  	color: yellow;
}

.main_bottom .evaluate #ratingWrapper label:hover {
  	font-size: 50px;
  	color: #F5E79E;
  	text-shadow: 0 0 5px #b9c9d8;
}

.main_bottom .evaluate #ratingWrapper label:before {
  	content: "\f005";
}

.main_bottom .evaluate #ratingWrapper input:checked + label ~ label:before {
  	content: "\f006";
}

.main_bottom .evaluate #evaluation {
	font-size: 20px;
	font-weight: bolder;
}

.main_bottom .evaluate > .btn {
	margin-top: 10px;
}

.main_bottom .similarRecommand {
	position: relative;
	display: flex;
	height: 270px;
	width: 75%;
	left: 320px;
}

.main_bottom .similarRecommand .similarRecommandtxt {
	position: relative;
	max-height: 20px;
	width: 500px;
}

.main_bottom .similarRecommand .similarRecommandMovie1,
.similarRecommandMovie2,
.similarRecommandMovie3,
.similarRecommandMovie4 {
	position: relative;
	display: flex;
	margin: 12px 19px auto 19px;
}

.main_bottom .similarRecommand .similarRecommandMovie1 img,
.similarRecommandMovie2 img,
.similarRecommandMovie3 img,
.similarRecommandMovie4 img {
	width: 120px;
	height: 160px;
	border: 1px solid black;
}

.main_bottom .similarRecommand .similarRecommandMovieName {
	position: absolute;
	text-align: center;
	width: 120px;
	top: 170px;
	font-size: 10px;
}


/*文本超出3行范围用…省略*/

.main_bottom .similarRecommand .similarRecommandMovieName {
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

a:link {
	color: black;
}

a {
	position: relative;
	color: black;
	top: 9px;
}

a:hover {
	position: relative;
	color: black;
	top: 9px;
	text-decoration: none;
}

a:visited {
	position: relative;
	color: black;
	top: 9px;
}