html,
body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 1536px;
	min-height: 720px;
}

body {
	/*padding: 10px;*/
	overflow-x: auto;
	background: url(../image/Maverick.png) no-repeat;
	/*background-size: 100%;*/
	background-size: cover;
}

.main {
	position: relative;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	z-index: 1;
}

.main_hide {
	filter: blur(1.5px);
	opacity: 0.3;
	z-index: -1;
}

.loginScene_hide {
	filter: blur(1.5px);
	opacity: 0.3;
	z-index: -1;
}

.main_top_hide {
	filter: blur(1.5px);
	opacity: 0.3;
	z-index: -1;
}

.main_medium_hide {
	filter: blur(1.5px);
	opacity: 0.3;
	z-index: -1;
}

.main_bottom_hide {
	filter: blur(1.5px);
	opacity: 0.3;
	z-index: 1;
}

.search--open_hide {
	filter: blur(1.5px);
	opacity: 0.0;
	z-index: 1;
}

.show {
	filter: blur();
	opacity: 1;
	z-index: 1;
}

.main .main_top {
	position: relative;
	margin: 0 auto;
	padding: 0;
	height: 15%;
}

.main .main_top .loginState {
	position: relative;
	height: 100%;
	font-size: 16px;
}

.main .main_top .loginState a {
	text-decoration: none;
	color: #000000;
}

.main .main_top .logoBox {
	position: relative;
	height: 100%;
}

.main .main_top .logoBox img {
	width: 80px;
	height: 80px;
}

.main .main_top .logoBox h5 {
	font-family: "仿宋";
	color: #000000;
}

.main .main_medium {
	position: relative;
	margin: 0 auto;
	padding: 0;
	height: 20%;
}

.main .main_medium .login_recommend_search {
	position: relative;
	height: 100%;
}

.main .main_medium .login_recommend_search .toLogin,
.toRecommend {
	position: relative;
	margin: 0 auto;
	height: auto;
	text-align: center;
}

.main .main_medium .login_recommend_search .search {
	position: relative;
	margin: 0 auto;
	height: auto;
	top: 20%;
	text-align: center;
}

.main .main_medium .login_recommend_search .search #searchTxt {
	width: 200px;
}

.main .main_bottom {
	position: relative;
	margin: 0 auto;
	padding: 0;
	height: auto;
}

.main .main_bottom .rec_refresh {
	position: relative;
	margin: 0 auto;
	width: 900px;
	height: 100%;
	text-align: center;
}

.main .main_bottom .rec_refresh .recommendDisplsy {
	position: relative;
	height: 360px;
	width: 100%;
	display: flex;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper1 {
	position: relative;
	display: flex;
	width: 25%;
	height: 100%;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper1 .recommendDisplsyPart1 {
	position: relative;
	margin: 0px;
	width: 100%;
	height: 100%;
	left: -64px;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper1 .recommendDisplsyPart1 .recommendMovie {
	/*position: relative;*/
	margin: 5px;
	width: 100%;
	height: 100%;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper1 .recommendDisplsyPart1 .recommendMovie img {
	/*position: relative;*/
	margin: 0;
	width: 222px;
	height: 296px;
	border: 4px solid black;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper1 .recommendDisplsyPart1 .recommendMovie h5 {
	text-align: center;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper2 {
	position: relative;
	display: flex;
	width: 25%;
	height: 100%;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper2 .recommendDisplsyPart2 {
	position: relative;
	margin: 0px;
	width: 100%;
	height: 100%;
	left: -64px;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper2 .recommendDisplsyPart2 .recommendMovie {
	position: relative;
	margin: 5px;
	width: 100%;
	height: 100%;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper2 .recommendDisplsyPart2 .recommendMovie img {
	position: relative;
	margin: 0;
	width: 222px;
	height: 296px;
	border: 4px solid black;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper2 .recommendDisplsyPart2 .recommendMovie h5 {
	text-align: center;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper3 {
	position: relative;
	display: flex;
	width: 25%;
	height: 100%;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper3 .recommendDisplsyPart3 {
	position: relative;
	margin: 0px;
	width: 100%;
	height: 100%;
	left: -64px;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper3 .recommendDisplsyPart3 .recommendMovie {
	position: relative;
	margin: 5px;
	width: 100%;
	height: 100%;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper3 .recommendDisplsyPart3 .recommendMovie img {
	position: relative;
	margin: 0;
	width: 222px;
	height: 296px;
	border: 4px solid black;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper3 .recommendDisplsyPart3 .recommendMovie h5 {
	text-align: center;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper4 {
	position: relative;
	display: flex;
	width: 25%;
	height: 100%;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper4 .recommendDisplsyPart4 {
	position: relative;
	margin: 0px;
	width: 100%;
	height: 100%;
	left: -64px;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper4 .recommendDisplsyPart4 .recommendMovie {
	position: relative;
	margin: 5px;
	width: 100%;
	height: 100%;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper4 .recommendDisplsyPart4 .recommendMovie img {
	position: relative;
	margin: 0;
	width: 222px;
	height: 296px;
	border: 4px solid black;
}

.main .main_bottom .rec_refresh .recommendDisplsy #iSlider-wrapper4 .recommendDisplsyPart4 .recommendMovie h5 {
	text-align: center;
}

.main .main_bottom .rec_refresh .refresh {
	position: relative;
	margin: 0px 0px;
	text-align: center;
}

.loginScene {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 1200px;
	min-height: 600px;
	top: 0px;
	z-index: -1;
	opacity: 0;
}

.loginScene .login_registerBox {
	position: relative;
	width: 25%;
	height: 60%;
	top: 120px;
	margin: 0 auto;
	background-image: url(../image/login.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.loginScene .login_registerBox .closeLogin {
	position: relative;
	margin: 0;
	padding: 0;
	height: 25px;
	text-align: right;
}

.loginScene .login_registerBox .closeLogin #closeBtn {
	top: 4px;
	right: 5px;
}

.loginScene .login_registerBox .Box {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 60%;
	text-align: center;
}

.loginScene .login_registerBox div span {
	top: 0;
}

.loginScene .login_registerBox #loginNameBox {
	top: 50px;
}

.loginScene .login_registerBox #loginPasswdBox {
	top: 90px;
}

.loginScene .login_registerBox #loginBtnBox {
	top: 130px;
}

.loginScene .login_registerBox #registerNameBox {
	top: 20px;
}

.loginScene .login_registerBox #doubanNameBox {
	top: 40px;
}

.loginScene .login_registerBox #registerPasswdBox {
	top: 60px;
}

.loginScene .login_registerBox #resurePasswdBox {
	top: 80px;
}

.loginScene .login_registerBox #registerBtnBox {
	top: 100px;
}


/*更改图片轮转跳转字样样式*/

a.recommendMovieLink:link {
	color: black;
}

a.recommendMovieLink {
	position: relative;
	color: black;
	top: 9px;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

a.recommendMovieLink:hover {
	position: relative;
	color: black;
	top: 9px;
}

a.recommendMovieLink:visited {
	position: relative;
	color: black;
	top: 9px;
}


/*除去图片轮转前面的小黑点*/

ul li {
	list-style-type: none;
}

#iSlider-wrapper1,
#iSlider-wrapper2,
#iSlider-wrapper3,
#iSlider-wrapper4 {
	overflow: hidden;
}