<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8">
		<title>花瓣电影</title>
		<link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/searchResult.css" />
		<script src="/bootstrap-3.3.7-dist/js/jquery-3.3.1.js"></script>
		<script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
		<script>
            $(document).ready(function() {
                $.get("/user", function(data, status) {
                    if(data.uname !== undefined) {
                        $("#user").attr("href", "userInfo?id=" + data.uid);
                        $("#user").text(data.uname);
                    }
                })
            })
		</script>
		<script>
			function doSearch() {
				var input = document.getElementById("searchTxt").value;
				if (input === "") {
				    alert("请输入关键字！");
				}else {
				    window.location.href = "searchResult?keyWord=" + input;
				}
            }
            function goto(node) {
			    var keyWord = document.getElementById("keyWord").textContent;
			    var page = parseInt(node.getAttribute("id"));
			    var total = parseInt(document.getElementById("total").textContent);
			    var currentPage = parseInt(document.getElementById("currentPage").textContent);
			    if (page != currentPage & page >= 1 & page <= total)
			    	window.location.href = "searchResult?keyWord=" + keyWord + "&page=" + page;
			}
		</script>
	</head>
	
	<body>
		<div class="main">
			<!-- 用户信息和logo -->
			<div class="main_top row">
				<!-- 用户信息 -->
				<div class="userInfo col-xs-2">
					<a id="user">未登录</a>
				</div>
				
				<!-- logo -->
				<div class="logoBox col-xs-2 col-xs-offset-8">
					<p>花瓣电影</p>
					<a href="/main.html"><img src="/image/logo.png" /></a>
				</div>
			</div>
			
			<!-- 搜索结果 -->
			<div class="main_bottom">
				<div class="search">
					<!-- 搜索框 -->
					<div class="searchBox input-group">
						<input class="form-control" id="searchTxt" type="text" name="searchTxt" />
						<span class="input-group-btn">
							<button class="btn btn-primary" onclick="doSearch()">搜索</button>
						</span>
					</div>
					
					<!-- 标签 -->
					<div class="tags">
						<a href="searchResult?keyWord=剧情">剧情</a>
						&nbsp;/&nbsp;
						<a href="searchResult?keyWord=喜剧">喜剧</a>
						&nbsp;/&nbsp;
						<a href="searchResult?keyWord=悬疑">悬疑</a>
						&nbsp;/&nbsp;
						<a href="searchResult?keyWord=推理">推理</a>
						&nbsp;/&nbsp;
						<a href="searchResult?keyWord=犯罪">犯罪</a>
					</div>
				</div>
				
				<!-- 结果显示 -->
				<div class="results">
					<!-- 搜索信息 -->
					<div class="searchInfo">
						搜索
						<span th:text="${keyWord}" th:attr="id='keyWord'"></span>
						的结果
						&nbsp;&nbsp;第
						<span th:text="${currentPage}" th:attr="id='currentPage'"></span>
						页
					</div>

					<div class="noResult" th:if="${results.size() lt 1}">
						无结果
					</div>
					
					<!-- 电影 -->
					<div class="filmBox" th:each="result:${results}">
						<div class="film">
							<div class="imgBox"><a th:attr="href='filmInfo?id=' + ${result.id}"><img th:attr="src=${result.url}" /></a></div>
							<div class="filmInfo">
								<div class="filmName"><a th:attr="href='filmInfo?id=' + ${result.id}" th:text="${result.name}"></a></div>
								<div class="filmGrade"><strong th:text="${result.rating}"></strong></div>
								<div class="actors" th:text="${result.casts}"></div>
							</div>
						</div>
						<div class="shadow"></div>
					</div>

					<!-- 分页 -->

					<div style="text-align: center">
					<ul class="pagination pagination-lg" >
						<li th:class="${currentPage==1}?'disabled' : ''"><a href="javascript:void(0)" th:attr="id=${1}" th:attrappend="onclick='goto(this)'">首页</a></li>
						<li th:class="${currentPage==1}?'disabled' : ''"><a href="javascript:void(0)" th:attr="id=${currentPage - 1}" th:attrappend="onclick='goto(this)'">上一页</a></li>
						<li th:if="${currentPage-3 >=1}" ><a href="javascript:void(0)" th:text="${currentPage -3}" th:attr="id=${currentPage - 3}" th:attrappend="onclick='goto(this)'">1</a></li>
						<li th:if="${currentPage-2 >=1}" ><a href="javascript:void(0)" th:text="${currentPage -2}" th:attr="id=${currentPage - 2}" th:attrappend="onclick='goto(this)'">1</a></li>
						<li th:if="${currentPage-1 >=1}" ><a href="javascript:void(0)" th:text="${currentPage -1}" th:attr="id=${currentPage - 1}" th:attrappend="onclick='goto(this)'">1</a></li>
						<li class="active"><a href="javascript:void(0)" th:text="${currentPage}" th:attr="id=${currentPage}">1</a></li>
						<li th:if="${currentPage+1 <=totalPage}" ><a href="javascript:void(0)" th:text="${currentPage +1}" th:attr="id=${currentPage + 1}" th:attrappend="onclick='goto(this)'">1</a></li>
						<li th:if="${currentPage+2 <=totalPage}" ><a href="javascript:void(0)" th:text="${currentPage +2}" th:attr="id=${currentPage + 2}" th:attrappend="onclick='goto(this)'">1</a></li>
						<li th:if="${currentPage+3 <=totalPage}" ><a href="javascript:void(0)" th:text="${currentPage +3}" th:attr="id=${currentPage + 3}" th:attrappend="onclick='goto(this)'">1</a></li>
						<li th:class="${currentPage==totalPage}?'disabled' : ''" ><a href="javascript:void(0)" th:attr="id=${currentPage + 1}" th:attrappend="onclick='goto(this)'">下一页</a></li>
						<li th:class="${currentPage==totalPage}?'disabled' : ''"><a href="javascript:void(0)" th:attr="id=${totalPage}" th:attrappend="onclick='goto(this)'">尾页</a></li>
					</ul>
						<div>总共<span id="total" style="font-size: 13px" th:text="${totalPage}"></span>页</div>
						<br>
						<br>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
